<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 
  <display-name>ServletProject</display-name>
  
  <servlet>
  	<servlet-name>myHello</servlet-name>
  	<servlet-class>com.test.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>myHello</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>myResponse</servlet-name>
  	<servlet-class>com.test.ResponseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>myResponse</servlet-name>
  	<url-pattern>/Response</url-pattern>
  </servlet-mapping>
  
  
  
  <!--  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.test.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  --> 
  
  
  <servlet>
  	<servlet-name>Sport</servlet-name>
  	<servlet-class>com.test.SportServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Sport</servlet-name>
  	<url-pattern>/Sport</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>Member</servlet-name>
  	<servlet-class>com.test.memberServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Member</servlet-name>
  	<url-pattern>/Member</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
  				<param-name>company</param-name>
  				<param-value>GlobalIn(ì£¼)</param-value>
     </context-param>
 <context-param>
  				<param-name>manager</param-name>
  				<param-value>Jung Sub Kim</param-value>
     </context-param>
  
  <servlet>
  	<servlet-name>InitParam</servlet-name>
  	<servlet-class>com.sample.InitParam</servlet-class>
  	<init-param>
  	<param-name>tel</param-name>
  	<param-value>010-1111-1111</param-value>
  	</init-param>
  	
  	<init-param>
  	<param-name>email</param-name>
  	<param-value>globalin.naver.com</param-value>
  	
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>InitParam</servlet-name>
  	<url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>VisitInsert</servlet-name>
<servlet-class>com.bbs.VisitInsert</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>VisitInsert</servlet-name>
<url-pattern>/VisitInsert</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>VisitList</servlet-name>
<servlet-class>com.bbs.VisitList</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>VisitList</servlet-name>
<url-pattern>/VisitList</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Login</servlet-name>
<servlet-class>com.login.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Logout</servlet-name>
<servlet-class>com.login.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>LoginCheck</servlet-name>
<servlet-class>com.login.LoginCheckServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginCheck</servlet-name>
<url-pattern>/LoginCheck</url-pattern>  
  </servlet-mapping>
  
  <jsp-config>
      <taglib>
               <taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
               <taglib-location>
               /WEB-INF/tlds/el-functions.tld
               </taglib-location>
      </taglib>
  </jsp-config>
  
<!--   <servlet>
       <servlet-name>ControllerURI</servlet-name>
      <servlet-class>mvc.Controller</servlet-class>
      <init-param>
            <param-name>propertyConfig</param-name>
            <param-value>Command.properties</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
   <servlet-name>ControllerURI</servlet-name>
   <url-pattern>*.do</url-pattern>
  </servlet-mapping> -->
  
   <servlet>
       <servlet-name>ControllerURI</servlet-name>
      <servlet-class>com.board.controller.ControllerAction</servlet-class>
      <init-param>
            <param-name>propertyConfig</param-name>
            <param-value>CommandPro.properties</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
   <servlet-name>ControllerURI</servlet-name>
   <url-pattern>*.bdo</url-pattern>
  </servlet-mapping>
   
  <servlet>
  	<servlet-name>myControl</servlet-name>
	<servlet-class>com.mvcmem.control.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>myControl</servlet-name>
	<url-pattern>*.mdo</url-pattern>  
  </servlet-mapping> 
  
  
  
  
  
</web-app>